# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a



#other
*.v12.suo
*.v11.suo
*.log
*.Build.CppClean.log
*.vcxproj.user
IDE/Obj/
*.sdf

*.exe
*.pdb
*ilk
Obj/
Bin/OpenGLStudy.exe.embed.manifest
Bin/OpenGLStudy.exe_manifest.rc
Bin/OpenGLStudy.exe_manifest.res
IDE/OpenGLStudy.pro.user.16
IDE/OpenGLStudy.pro.user.3.2-pre1
*.TMP
IDE/OpenGLStudy.vcxproj.dan.nvuser
Bin/nsight_profiler.cfg
ComputeShader/GeneratedFiles/
